main{
    background-color:#097bb2;
    height:100vh;
}
h2{
    color:#fff;
    font-size:3em;
    text-align:center;
    padding-top:2em;
}
main .content{
    display:flex;
    flex-flow:column;
    align-items:center;

}
#video{
    height:550px;
    width:1000px;
    border:10px orange;
    margin-top:2em;
}
